<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190077829651-c8oqtaua746ndn836tp2p6jb43356tlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190077829651-c8oqtaua746ndn836tp2p6jb43356tlc</string>
	<key>API_KEY</key>
	<string>AIzaSyCmGNXwj1LLN_rFBHg8nZpGcUmj2IJYjpc</string>
	<key>GCM_SENDER_ID</key>
	<string>190077829651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-d4ed1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-d4ed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190077829651:ios:edbec9c2a8cd42ece675e6</string>
</dict>
</plist>